   

/*
*************************
*    Règles globales    *
*************************
*/

/*
  Variables de générales
  (couleurs essentiellement)
*/

:root {
    --md-admonition-icon--conclu: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>');
    --color-table-header: #f7f6f6;
    --color-table-dark: #e4e4e4;
    --color-table-light: #ededed;
    --color-table-hover: #c6c6c6;
    --base-spacing-unit: 24pt;
    --half-spacing-unit: 12pt;
    --card-color: #f7f7f7;
    --shadow-color: rgba(102, 102, 102, 0.2);
    --hover-bg-color: #363941;
    --hover-fg-color: rgb(226, 228, 233);
}

body[data-md-color-scheme^="slate"] {
    --color-table-header: #2e303e;
    --color-table-dark: #2e303e;
    --color-table-light: #6b6b6b;
    --card-color: #3a3d50;
    --shadow-color: rgba(202, 202, 202, 0.2);
    --hover-bg-color: rgb(226, 228, 233);
    --hover-fg-color: #363941;
    /* fond d'écran en mode "nuit" */
    --md-default-bg-color: #2b2a33;
}

/*
  Suppression de la nav du footer
  sur toutes les pages
*/

.md-footer-nav {
    display: none;
}

.md-footer__inner:not([hidden]) {
    display: none;
}

/*
  Largeur de la page
*/
.md-grid {
    max-width: 90%;
}

/*
  Mise en forme du header
*/

/* Espacement vertical haut du titre de la page */

.md-typeset h1 {
    margin-top: 0.5em;
    font-weight: 500;
    color: #6e79d6; 
}


.md-typeset h2 {
    margin-top: 0.5em;
    font-weight: 500;
    color: #800407;
}

.md-typeset h3 {
    margin-top: 0.5em;
    font-weight: 400;
    color: #800407;
}


h2.python {
    color: #800407;
    -webkit-background-clip: text;
    
    animation: pulse 3s linear infinite;
}
@keyframes pulse {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}


.md-header {
    z-index: 10;
}


.md_tabs__list {
    margin-top: 0.25em;
    ;
}

.md-tabs__item {
    line-height: 1.5;
    height: 2rem;
    margin-right: 0.75em;
}

.md-tabs__link {
    margin-top: 0.3rem;
}

.md-main__inner {
    margin-top: 0;
}

.md-typeset .md-tags:not([hidden]) {
    width: 100%;
    justify-content: space-between;
}

.md-typeset .md-tags:not([hidden]) .md-tag[href]:hover,
.md-typeset .md-tags:not([hidden]) .md-tag[href]:focus {
    background-color: var(--md-default-fg-color--lightest);
    color: var(--md-accent-bg-color);
}

.md-typeset .md-tags:not([hidden])>a>img {
    height: 1.8em !important;
    margin-left: 0;
    vertical-align: middle;
}


/*
  Bordures des blocs de code
*/

.highlight pre {
    border: solid 1px #858585;
}

.highlight span.filename {
    border: solid 1px #858585;
    border-bottom: 0;
}

.highlight pre>span {
    height: 0;
}

.highlighttable {
    border: solid 1px #858585;
}

.highlighttable .linenos pre,
.highlighttable .code pre {
    border: none;
}

.highlighttable span.filename {
    border: solid 0 #858585;
    border-bottom-width: 1px;
}

/*
  La classe .autolight appliquée aux images
  renverse leur couleur en mode "dark
*/

body[data-md-color-scheme^="slate"] img.autolight {
    -webkit-filter: invert(1);
    filter: invert(1);
}

/*
  La classe .center permet de centrer des éléments,
  les images par exemple
*/

.center {
    display: block;
    margin: 0 auto;
}

/*
*************************
*    Les admonitions    *
*************************
*/

.md-typeset .admonition,
.md-typeset details {
    font-size: 0.8rem;
    border-radius: 0 8px 0 8px;
    /* bordures */
}


details.question:focus-within {
    box-shadow: none;
}


/*
****************************
*  Overrides du thème ace  *
****************************
*/

.md-typeset .admonition.tip:focus-within,
.md-typeset details.tip:focus-within {
    box-shadow: none !important;
}

.md-typeset .admonition:focus-within,
.md-typeset details:focus-within {
    box-shadow: none !important;
}

/* Not enough, when some line of code are overflowing... so put a padding on the wrapping div.
.ace_active-line {
    border-radius:  0 8px 0 0;
}
*/


/*
*****************
*    Accueil    *
*****************
*/

@media (min-width: 700px) {
    .accueil-container {
        display: flex;
        justify-content: space-between;
    }

    .accueil-div {
        width: 49%;
    }
}

.accueil-div ul {
    list-style-type: none;
}

.accueil-div ul li {
    margin-bottom: 1rem;
    margin-left: 0% !important;
}

.accueil-div p span {
    min-width: 15%;
    text-align: center;
    display: inline-block;
}

#bouton-relancer {
    cursor: pointer;
    color: #3693df;
    border: solid 1px var(--md-default-bg-color);
}

#bouton-relancer:hover {
    cursor: pointer;
    border: solid 1px var(--md-default-fg-color);
    background: var(--md-default-fg-color--lightest);
}


/*
******************************
*    La page de recherche    *
******************************
*/

#tableau-recherche {
    --show-tracking: unset;
    width: 100%;
    border: solid 1px var(--color-table-dark);
}

#tableau-recherche a {
    color: var(--md-default-fg-color);
}

/*
  Les inputs de recherche textuelles
*/

#tableau-recherche input[type=search],
#tableau-recherche input[type=text] {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
}

/*
  la recherche par difficulté
*/

#tableau-recherche select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: var(--color-table-header);
    margin-left: 3px;
    color: var(--md-typeset-color);
}

.dataTables_length select {
    background-color: var(--color-table-header);
    color: var(--md-typeset-color);
}

.dataTables_length select option {
    background-color: var(--color-table-header);
}

/*
  Les boutons d'activation des exercices "en travaux"
  et de choix du mode de sélection ET/OU
*/

#switch-et-ou,
#switch-tracking,
#switch-travaux {
    display: none;
}

#label-travaux,
#label-tracking,
#label-et-ou {
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    background: grey;
    vertical-align: middle;
    display: inline-block;
    border-radius: 2rem;
    position: relative;
}

#label-et-ou {
    background: #6e79d6;
}

#label-et-ou:after,
#label-travaux:after,
#label-tracking:after {
    content: '';
    position: absolute;
    top: 0.13rem;
    left: 0.2rem;
    width: 0.7rem;
    height: 0.7rem;
    background: #fff;
    border-radius: 0.7rem;
    transition: 0.3s ease;
}

#switch-travaux:checked+#label-travaux,
#switch-tracking:checked+#label-tracking {
    background: #6e79d6;
}

#switch-et-ou:checked+#label-et-ou:after,
#switch-travaux:checked+#label-travaux:after,
#switch-tracking:checked+#label-tracking:after {
    left: 1.1rem;
}

#span-et {
    opacity: 0.6;
}

/*
  Les tags de sélection
*/

.tag-selection {
    background-color: var(--md-default-fg-color--lightest);
    border-radius: 2.4rem;
    display: inline-block;
    font-size: 0.64rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.6;
    margin-bottom: 0.5em;
    padding: 0.3125em 0.9375em;
    vertical-align: middle;
    margin: 5px;
    border: solid 1px transparent;
}

.tag-selection:hover {
    border: solid 1px var(--md-default-fg-color);
    cursor: pointer;
}

.selected-tag {
    font-weight: 600;
    background-color: var(--md-default-fg-color);
    color: var(--md-code-bg-color);
}

.choix-tags, .choix-tracking {
    /* margin-bottom: 10px; */
    border-radius: 0 8px 0 8px;
    border-color: #aaa;
}

.choix-tags legend, .choix-tracking legend {
    font-weight: bold;
}

/*
  Ajout d'une description lorsque l'on survole le tag
*/

.tag-selection-hover {
    position: relative;
}

.tag-selection-hover:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    font-size: smaller;
    background-color: var(--hover-bg-color);
    color: var(--hover-fg-color);
    border-radius: 2.4rem;
    padding: 5px 5px;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: -130%;
}


.tag-selection-hover:hover:before {
    opacity: 1;
    visibility: visible;
}

/*
  Legend field pour les  ET / OU et en travaux
*/

@media (min-width: 700px) {
    .et-ou-travaux-container, .tracking-container {
        display: flex;
        justify-content: flex-start;
    }

    .et-ou-container, .travaux-container, .tracking-container {
        min-height: 3.6rem;
        margin-right: 2%;
    }
}

/*
Le bouton pour effacer le contenu
de la barre de recherche par titre d'exercice
*/

#efface-texte {
    color: var(--md-typeset-color);
}

#reset-recherche-nom {
    background-color: #8e8e8f;
    opacity: 0.5;
    color: inherit;
    border-radius: 3px;
    position: relative;
    left: -7%;
    transition: opacity ease 50ms;
}

#reset-recherche-nom:hover {
    opacity: 1;
    background-color: #a7a9b3;
}

#recherche-nom:placeholder-shown+#reset-recherche-nom {
    display: none;
}

/* Positionnement des boutons de tri */
.dt-column-order {
    position: initial !important;
    margin-right: 1em;
}

/*
*************************
*    Les difficultés    *
*************************
*/

.vide {
    color: var(--md-typeset-color);
}

.non-renseigne {
    color: #868897;
}

.debutant {
    color: #1baf1b;
}

.facile {
    color: #3693df;
}

.moyen {
    color: #ed9406;
}

.difficile {
    color: #f24646;
}

/* .debutant:hover,
.difficile:hover,
.facile:hover,
.moyen:hover,
.non-renseigne:hover,
.tag-header:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
    cursor: default;
} */

/*
**************************************
*    Les cartes des contributeurs    *
**************************************
*/

.carte-contributeur {
    margin-bottom: 2em;
    box-shadow: var(--shadow-color) 5px 5px 5px;
    padding: 0.5em;
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 0.5rem 0.5em;
    text-align: center;
    border-radius: 10px 0 10px 0;
    background-color: var(--card-color);
    color: var(--md-typeset-color);
    transition: box-shadow 0.2s ease-in-out;
}

.carte-contributeur:hover {
    filter: brightness(120%);
    cursor: default;
}

/*
  Disposition flexbox
*/
@media screen and (min-width: 40em) {
    .conteneur-cartes {
        display: flex;
        flex-wrap: wrap;
    }

    .carte-contributeur {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .carte-contributeur {
        flex: 0 1 calc(25% - 1em);
    }
}


/*
****************************
*    Animations de tris    *
****************************
*/

#bouton-melange,
#bouton-lancer {
    background-color: rgb(44, 151, 222);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    min-width: 15%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

#bouton-melange:hover {
    background-color: rgb(16, 73, 186)
}

#bouton-lancer {
    background-color: rgb(0, 168, 64);
}

#bouton-lancer:hover {
    background-color: rgb(37, 130, 73);
}

#tableau{
    font-family: 'Courier New', Courier, monospace;
    height: 2.5em;
    width: 80%;
    border: 1px solid;
    /* color: black; */
    font-size: 105%;
}


#canvas {
    display: block;
    margin: auto;
}

/*
**************
*    Misc    *
**************
*/
.md-typeset div.arithmatex {
    overflow: initial;
}

.py_mk_wrapper, .py_mk_wrapper_v {
    border-radius: 0 8px 0 8px;
}