:root {
    --md-primary-fg-color: brown;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}
.md-typeset code{
    font-weight: bolder;


}
.md-header{
    background-color: brown;
}

.md-tabs {
    background-color: brown;
}
.md-typeset h1{
    color :white;
}


 h1 
{
    text-align: center;
    color:white;
    background-color: brown;
    margin : 0 0 10px 30px; /* haut, droite, bas, gauche (respectivement) */
    font : 150% georgia, palatino, serif;
    font-style : normal;
}



 h2
{
    text-align: left;
    color:white;
    background-color: brown;
	
	margin : 0 50px 10px 100px; /* haut, droite, bas, gauche (respectivement) */
    font : 130% georgia, palatino, serif;
    font-style : normale;
}

h3
{
    text-align: left;
    color:white;
    background-color: brown;
	margin : 0 0 10px 30px; /* haut, droite, bas, gauche (respectivement) */
    font : 120% georgia, palatino, serif;
    font-style : normal;
}

    
        


table.tabmaths {
	margin: auto;
    border: medium solid #6495ed;
	border-collapse: collapse;
	width: 75%;
	font : 100% arial, palatino, serif;
    font-style : normal;
}
table.tabmaths_long {
	margin: auto;
    border: medium solid #6495ed;
	border-collapse: collapse;
	width: 100%;
	font : 100% arial, palatino, serif;
    font-style : normal;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}



th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}


